body {
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: bold; /* Grassetto globale */
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 50px;
}

.logo { 
    width: 100px;
    margin-bottom: 20px;
}

#countdown {
    font-size: 3rem;
    margin: 20px 0;
    color: #007BFF;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 5px 20px 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Bottone Loop */
#loop-btn {
    background-color: #28a745;
    padding: 10px 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

#loop-btn:hover {
    transform: rotate(90deg);
}

.loop-icon {
    font-size: 24px;
    transition: transform 0.5s ease;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loop-icon.active {
    animation: rotate 1.5s linear infinite;
}

ul {
    font-size: 16px;
    list-style-type: decimal;
    padding-left: 0;
    font-weight: bold;
}

li {
    font-size: 16px;
    margin: 5px 0;
    font-weight: bold;
}
